# 03. 파이썬 문자열
## 031 ~ 040

In [1]:
# 031 문자열 합치기
a = "3"
b = "4"
print(a + b)

# 34

34

##### 정답
* 두 문자열에 대해 덧셈 기호는 문자열의 연결을 의미. 따라서 "34"라는 새로운 문자열이 생성되고 그 값이 print 함수에 의해 화면에 출력.

In [11]:
# 032 문자열 곱하기
print("Hi" * 3)
# HiHiHi

HiHiHi

##### 정답
* 문자열에 대한 곱셈은 문자열의 반복을 의미
* HiHiHi

In [20]:
# 033 문자열 곱하기
# 화면에 '-'를 80개 출력
print('-' * 80)

--------------------------------------------------------------------------------

##### 정답
* print("-" * 80)

In [28]:
# 034 문자열 곱하기
t1 = 'python'
t2 = 'java'
t12 = t1 + ' ' + t2 + ' '
# python java python java python java python java
print(t12 * 4)

python java python java python java python java

##### 정답
* t1 = "python"
* t2 = "java"
* t3 = t1 + ' ' + t2 + ' '
* print(t3 * 4)

In [41]:
# 035 문자열 출력 (% formatting을 사용)
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13


print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

##### 정답

* print 포맷팅에서 %s는 문자열 데이터 타입의 값을 %d는 정수형 데이터 타입 값의 출력을 의미

* name1 = "김민수" 
* age1 = 10
* name2 = "이철희"
* age2 = 13
* print("이름: %s 나이: %d" % (name1, age1))
* print("이름: %s 나이: %d" % (name2, age2))

In [47]:
# 036 문자열 출력 *
# 문자열의 format( ) 메서드를 사용해서 035번 문제 다시 풀기
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print('이름:{} 나이:{}'. format(name1, age1))
print('이름:{} 나이:{}'. format(name2, age2))

이름:김민수 나이:10
이름:이철희 나이:13

##### 정답
* 문자열의 포맷 메서드는 타입과 상관없이 값이 출력될 위치에 { }를 적어주면 됨

* name1 = "김민수" 
* age1 = 10
* name2 = "이철희"
* age2 = 13
* print("이름: {} 나이: {}".format(name1, age1))
* print("이름: {} 나이: {}".format(name2, age2))

In [52]:
# 037 문자열 출력
# 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀기
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f'이름:{name1} 나이:{age1}')
print(f'이름:{name2} 나이:{age2}')

이름:김민수 나이:10
이름:이철희 나이:13

##### 정답
* f-string은 문자열 앞에 f가 붙은 형태. f-string을 사용하면 {변수}와 같은 형태로 문자열 사이에 타입과 상관없이 값을 출력

* name1 = "김민수" 
* age1 = 10
* name2 = "이철희"
* age2 = 13
* print(f"이름: {name1} 나이: {age1}")
* print(f"이름: {name2} 나이: {age2}")

In [56]:
# 038 컴마 제거하기
상장주식수 = "5,969,782,550"
a = 상장주식수.replace(',','')
b = int(a)
print(b, type(b))

5969782550 <class 'int'>

##### 정답
* 정수형으로 타입을 변환하려면 int( ) 함수를 사용. 이때 숫자 형태의 문자열에 컴마가 있는 경우 바로 변환된지 않음. 먼저 문자열의 replace 메서드로 컴마를 제거한 후 변환.

* 상장주식수 = "5,969,782,550"
* 컴마제거 = 상장주식수.replace(",", "")
* 타입변환 = int(컴마제거)
* print(타입변환, type(타입변환))

In [59]:
# 039 문자열 슬라이싱
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

##### 정답
* 분기 = "2020/03(E) (IFRS연결)"
* print(분기[:7])

In [61]:
# 040 strip 메서드
data = "   삼성전자    "
data_ = data.strip()
print(data_)

삼성전자

##### 정답
* 문자열에서 strip( ) 메서드를 사용하면 좌우의 공백을 제거할 수 있음. 이때 원본 문자열은 그대로 유지되고 공백이 제거된 새로운 문자열이 반환.

* data = "   삼성전자    "
* data1 = data.strip()
* print(data1)