# 04. 파이썬
## 061 ~ 070

In [1]:
# 061 (힌트 : 슬리이싱)
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

##### 정답
* price = ['20180728', 100, 130, 140, 150, 160, 170]
* print(price[1:])

In [2]:
# 062
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

##### 정답
* nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
* print(nums[::2])

In [3]:
# 063
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

##### 정답
* nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
* print(nums[1::2])

In [4]:
# 064
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

##### 정답
* nums = [1, 2, 3, 4, 5]
* print(nums[::-1])

In [5]:
# 065
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

##### 정답
* interest = ['삼성전자', 'LG전자', 'Naver']
* print(interest[0], interest[2])

In [6]:
# 066 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

##### 정답
* interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
* print(" ".join(interest))

In [7]:
# 067 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

##### 정답
* interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
* print("/".join(interest))

In [8]:
# 068 join 메서드
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

##### 정답
* nterest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
* print("\n".join(interest))

In [9]:
# 069 문자열 split 메서드
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

##### 정답
* string = "삼성전자/LG전자/Naver"
* interest = string.split("/")
* print(interest)

In [10]:
# 070
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

##### 정답
* data = [2, 4, 3, 1, 5, 10, 9]
* data.sort()
* print(data)

* data = [2, 4, 3, 1, 5, 10, 9]
* data2 = sorted(data)
* print(data2)