# 05. 파이썬 튜플
## 071 ~ 080

In [1]:
# 071
my_variable = ()
print(type(my_variable))

<class 'tuple'>

##### 정답
* 괄호는 튜플을 정의하는 기호
* my_variable = ()

* 정말 튜플이 생성됐는지 확인. type() 함수는 변수에 바인딩된 데이터의 타입을 반환.
* print(type(my_variable))

In [2]:
# 072
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

##### 정답
* movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [3]:
# 073
a = (1, )

##### 정답
* 아래와 같이 괄호와 함께 하나의 정숫값을 저장하면 튜플이 정의 될 것같지만 그렇지 않습니다. type()을 출력해보면 파이썬은 튜플이 아닌 정수로 인식
* my_tuple = (1)
* type (my_tuple)
* int


* 하나의 데이터가 저장되는 경우, 아래와 같이 쉼표를 입력
* my_tuple = (1, )

In [4]:
# 074
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

##### 정답
* tuple은 원소(element)의 값을 변경할 수 없음.

In [5]:
# 075
t = 1, 2, 3, 4
# t type?

##### 정답
* 원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작

In [6]:
# 076
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')

##### 정답
* 튜플의 값은 변경할 수 없기 때문에, 리스트와 달리 아래 코드는 동작하지 않음.
* t[0] = 'A'
* 새로운 튜플을 만들고 t 라는 변수를 업데이트 해야 합니다. 기존의 튜플 ('a', 'b', 'c')은 자동으로 삭제.
* t = ('A', 'b', 'c')

In [7]:
# 077
interest = ('삼성전자', 'LG전자', 'SK Hynix')
a = list(interest)
print(type(a))

<class 'list'>

##### 정답
* data = list(interest)

In [8]:
# 078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
a = tuple(interest)
print(type(a))

<class 'tuple'>

##### 정답
* data = tuple(interest)

In [9]:
# 079 튜플 언팩킹
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

##### 정답
* apple banana cake

In [10]:
# 080 range 함수
a = tuple(range(2, 100, 2))
print(a)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

##### 정답
* data = tuple(range(2, 100, 2))
print( data )