# 02. 파이썬 변수
## 011 ~ 020

In [1]:
# 011 변수 사용하기
samsung = 50000
total = samsung * 10
print(total)

500000

##### 정답
* 삼성전자 = 50000
* 총평가금액 = 삼성전자 * 10
* print(총평가금액)

In [11]:
# 012 변수 사용하기
Mcap = 298000000000000
pres = 50000
PER = 15.79
print(Mcap, type(Mcap))
print(pres, type(pres))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

##### 정답
* 시가총액 = 298000000000000
* 현재가 = 5000
* PER = 15.79
* print(시가총액, type(시가총액))
* print(현재가, type(현재가))
* print(PER, type(PER))

In [20]:
# 013 문자열 출력
s = "hello"
t = "python"
print(s+"!", t)

hello! python

##### 정답
* s = "hello"
* t = "python"
* print(s+"!", t)

In [28]:
# 014 파이썬을 이용한 값 계산
# 2 + 2 * 3
8

8

##### 정답
* 8

In [35]:
# 015 type 함수
# a = 128
# print (type(a))
# # <class 'int'>

a = "132"
print (type(a))

<class 'str'>

##### 정답
* a = "132"
* print(type(a))

In [41]:
# 016 문자열을 정수로 변환
num_str = "720"
num_int = int(num_str)
print(num_int)

720

##### 정답
* num_str = "720"  #형변환
* num_int = int(num_str)
* print(num_int+1, type(num_int))

In [46]:
# 017 정수를 문자열 100으로 변환
num = 100
hundred = str(num)
print(hundred, type(hundred))

100 <class 'str'>

##### 정답
* num = 100
* result = str(num)
* print(result, type(result))

In [50]:
# 018 문자열을 실수로 변환
type1 = "15.79"
type1 = float(type1)
print(type1, type(type1))

15.79 <class 'float'>

##### 정답
* data = "15.79"
* data = float(data)
* print(data, type(data))

In [53]:
# 019 문자열을 정수로 변환
year = "2020"
print(int(year)-1)
print(int(year)-2)
print(int(year)-3)

2019
2018
2017

##### 정답
* year = "2020"
* print(int(year)-3)  # 2017
* print(int(year)-2)  # 2018
* print(int(year)-1)  # 2019

In [55]:
# 020 파이썬 계산
month = 48584
total = month * 36
print(total)

1749024

##### 정답
* 월 = 48584
* 총금액 = 월 * 36
* print(총금액)